.home-container {
  text-align: center;
  padding: 80px 20px;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #0d2538;
}

.home-container p {
  font-size: 1.2rem;
  margin: 20px 0;
  color: #333;
}

.home-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1abc9c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.home-btn:hover {
  background-color: #16a085;
}
