.services-container {
  padding: 50px 20px;
  text-align: center;
}

.services-container ul {
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.services-container li {
  font-size: 1.2rem;
  margin: 10px 0;
  background-color: #1abc9c;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.services-container li:hover {
  background-color: #16a085;
}
