.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d2538;
  padding: 10px 20px;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo img {
  width: 40px;
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #fff;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: #1abc9c;
}
